.leaderBoard{
width: 200px;
padding: 8px;
}
.featured{
padding: 8px;
}

.text-indent{
padding: 20px;
margin: 0px
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}